@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$dark: #1B1D21;
$body-color:#333333;
$whitesmoke: #f5f5f5;
$white : #ffffff;
$black : #000000;

body {
    font-family: $roboto;
    font-weight: 300;
    background: $whitesmoke;
    color: $body-color;
    height: 100%;
}

h1, h2, h3, h4,h5, h6 {
    font-family: $montserrat;
    font-weight: 700;
}

.btn {
    &.btn-primary {
        background: $dark;
        border-color: $dark;
    }
}


.page-content {
    width: 100%;
    height: auto !important;
    min-height: 100vh;
    padding: 50px 15px 50px 115px;
    margin: 0 auto;
}

.navigation-wrapper {
    position: fixed;
    height: 100%;
    background: $dark;
    width: 100%;
    max-width: 100px;
}

.navbar {
    display: flex;
    flex-direction: column;

    .navbar-brand {
        margin-bottom: 50px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 0.5px solid rgba(255,255,255,0.5);
    }

    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80px;
    }
}

.employee-single-card-col {
    margin-bottom: 30px;
}

.employee-card-single {
    border-radius: 7.5px;
    border: none;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
    overflow: hidden;
    .card-body {
        padding: 0;
    }
}

