$playfair: "Playfair Display", serif;
$roboto: "Roboto", sans-serif;

$green: #1ED2AF;
$marine: #2D3E50;
$black: #000000;
$body-color: #1a1a1a;
$light-gray: #fafafa;
$white: #ffffff;

body {
  font-family: $roboto;
  background: #ffffff;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $playfair;
  font-weight: 600 !important;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.mat-toolbar h6 {
  font-family: $playfair;
  font-weight: 500;
}

h1 {
  font-size: 3.2em !important;
}

h6 {
  font-size: 1em;
}

p {
  margin-top: 0;
}

.mat-drawer-container {
  background: #ffffff;
}

// BUTTONS
.mat-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;

  &.mat-primary {
    background-color: $green;
    border-color: $green;

    .mat-button-wrapper {
      color: #ffffff;
    }
  }

  &.mat-accent {
    background-color: #f5f5f5;
    border-color: #eeeeee;

    .mat-button-wrapper {
      color: $body-color;
    }
  }
}


// LAYOUT

.page-container {
  width: 100%;
  height: auto !important;

  @media (min-width: 0) {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  @media (min-width: 576px) {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section-header {
  text-align: center;
}

.section-title {
  position: relative;
  display: inline-block;
  margin: 0 auto 2.5em;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    bottom: -1em;
    right:0;
    left: 0;
    margin: 0 auto;
    width: 100px;
    height: 5px;
    background-color: #1ED2AF;
  }
}

//FORMS
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
  background-color: transparent;
}


//  CARDS

.mat-card-header-text {
  margin: 0 !important;
  width: 100%;
}

//MIXINS

@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eeeeee;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
.aspect-ratio-1 {
  @include aspect-ratio(1, 1);
}

.aspect-ratio-rect {
  @include aspect-ratio(16, 9);
}


