$playfair: "Playfair Display", serif;
$roboto: "Roboto", sans-serif;

$green: #1ED2AF;
$marine: #2D3E50;
$black: #000000;
$light-gray: #fafafa;
$white: #ffffff;

body {
  font-family: $roboto;
  background: #ffffff;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $playfair;
  font-weight: 600 !important;
  margin-top: 0;
  margin-bottom: 0.5em;
}


.mat-toolbar h6 {
  font-family: $playfair;
  font-weight: 500;
}

h1 {
  font-size: 3.2em !important;
}

h6 {
  font-size: 1em;
}

.mat-drawer-container {
  background: #ffffff;
}

// BUTTONS 
.mat-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}
.mat-primary {
  background-color: $green;
  .mat-button-wrapper {
    color: #ffffff;
  }

}

.page-container {
  width: 100%;
  max-width: 1140px;
  height: auto !important;
  margin: 0 auto;
}


//MIXINS

@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eeeeee;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.aspect-ratio-rect {
  @include aspect-ratio(16, 9);
}