<div class="forfait-mini">

  <div class="forfait-mini-image-wrapper aspect-ratio-rect">
    <div class="img-wrapper" style="background-image: url({{forfait.photo}})"></div>
    <div class="forfait-mini-promo" *ngIf="forfait.rabais !==0">
      <span>Promo</span>
      <span class="text-lg">-{{forfait.rabais}}%</span>
    </div>
  </div>

  <div class="forfait-mini-header">

    <div class="forfait-mini-infos">
      <h3>{{forfait.hotel.nom}}</h3>
      <p>{{forfait.ville_destination}}, {{forfait.pays_destination}}</p>
    </div>

    <div class="forfait-mini-ratings">
      <mat-icon aria-hidden="false" aria-label="Example star icon">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example star icon">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example star icon">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example star icon">star</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example star_outline icon">star_outline</mat-icon>
    </div>

  </div>

  <div class="forfait-mini-footer">

    <div class="forfait-mini-price">

      <ng-container
        *ngIf="forfait.rabais===0; then priceBlock else promoBlock">
      </ng-container>

      <ng-template #priceBlock>
        <span><strong>${{forfait.prix}}</strong></span>
      </ng-template>

      <ng-template #promoBlock>
        <span class="forfait-mini-old-price">${{forfait.prix}}</span>
        <span class="forfait-mini-new-price"><strong>${{forfait.prix}}</strong></span>
      </ng-template>

    </div>
    <!--    <button mat-button color="primary">Voir plus</button>-->
  </div>
</div>

