<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercice2</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div class="page-container">
    <div w3-include-html="includes/header.html"></div>
    <div class="page-wrapper">
        <h1>Exercice 2</h1>

        <h6>Exercice 2.1 en classe</h6>
        <div id="app">
            <input type="text" v-bind:value="message"/>
            <label>{{ message | isValue}}</label>
        </div>

        <h6>Exercice 2.2 en classe</h6>
        <div id="monEvent">
            <input type="text" v-bind:value="message"/>
            <label>{{ message | isValue}}</label>
        </div>


        <div id="exercice4">
            <h1>{{ title }}</h1>
            <users></users>
        </div>

    </div>

    <div w3-include-html="includes/footer.html"></div>
</div>


</body>
</html>
<script>
  var app = new Vue({
    el: "#app",
    data: {
      message: '',
    },
    filters: {
      isValue: function (message) {
        if( message === 'celsius') {
          return "C°";
        } else if( message === 'fahrenheit') {
          return "F°";
        } else if( message === 'dollar') {
          return "$CAD";
        } else {
          return "";
        }
      }
    }
  });
  // Vue.filters('monFiltre', function (value) {});


  Vue.component("users", {
    data: function () {
      return {
        users: [
          {
            firstname: "John",
            lastname: "Doe",
            email: "john@email.com",
          },
          {
            firstname: "Jane",
            lastname: "Doe",
            email: "jane@email.com",
          },
        ],
      };
    },
    template: `<div>
                    <ul>
                      <li v-for="user in users">
                        {{user.firstname}} {{user.lastname}}
                        <userDetails
                        v-bind:email="user.email"
                        ></userDetails>
                      </li>
                    </ul>
                  </div>`,
  });
  Vue.component("userDetails", {
    data: function () {
      return {
        phoneNumber: "555 444 1234",
        email: "john.doe@test.com",
      };
    },
    template: `<div>
                    phoneNumber: {{phoneNumber}}<br/>
                    email: {{email}}
                    <adressDetails></adressDetails>
                  </div>`,
  });
  Vue.component("adressDetails", {
    data: function () {
      return {
        adresses: [
          {
            streetNumber: "1",
            streetName: "broadway",
            city: "St John",
            province: "NE",
            postalCode: "A1A 1A1",
          },
        ],
      };
    },
    template: `<div>
                    <ul>
                      <li v-for="adress in adresses">
                        {{ adress.streetNumber }}, {{ adress.streetName }}<br/>
                        {{ adress.city }}, {{ adress.province }}<br/>
                        {{ adress.postalCode }}<br/>
                      </li>
                    </ul>
                  </div>`,
  });
  let vm = new Vue({
    el: "#exercice4",
    data: {
      title: "my users",
    },
  });
</script>
<script src="assets/js/dynamic.js"></script>
<script>
  includeHTML();
</script>
