<form action="" class="gestion-forfaits">
  <fieldset>
    <legend>Informations Forfait</legend>
    <mat-form-field>
      <mat-label>Ville de Destination</mat-label>
      <input matInput type="text" required
             [ngModel]="villeDestination" name="controleVilleDestination" #controleVilleDestination="ngModel"
      >
      <mat-error *ngIf="controleVilleDestination.hasError('required')">
        {{champsObligatoire}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pays de Destination</mat-label>
      <input matInput type="text" required
             [ngModel]="paysDestination" name="controlePaysDestination" #controlePaysDestination="ngModel"
      >
      <mat-error *ngIf="controlePaysDestination.hasError('required')">
        {{champsObligatoire}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mat-form-field-full-width">
      <mat-label>Ville de Départ</mat-label>
      <input matInput type="text" required
             [ngModel]="villeDepart" name="controleVilleDepart" #controleVilleDepart="ngModel"
      >
      <mat-error *ngIf="controleVilleDepart.hasError('required')">
        {{champsObligatoire}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date de Départ</mat-label>
      <input matInput [matDatepicker]="departure" required
             [ngModel]="dateDepart" name="controleNomHotel" #controleDateDepart="ngModel"
      >
      <mat-datepicker-toggle matSuffix [for]="departure"></mat-datepicker-toggle>
      <mat-datepicker #departure></mat-datepicker>
      <mat-error *ngIf="controleDateDepart.hasError('required')">
        {{champsObligatoire}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date de Retour</mat-label>
      <input matInput [matDatepicker]="arrival" required
             [ngModel]="dateRetour" name="controleNomHotel" #controleDateRetour="ngModel"
      >
      <mat-datepicker-toggle matSuffix [for]="arrival"></mat-datepicker-toggle>
      <mat-datepicker #arrival></mat-datepicker>
      <mat-error *ngIf="controleDateRetour.hasError('required')">
        {{champsObligatoire}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prix</mat-label>
      <input matInput type="number" min="0" step=".01" required
             [ngModel]="prix" name="controleNomHotel" #controlePrix="ngModel"
      >
      <span matPrefix>$&nbsp;</span>
      <mat-error *ngIf="controlePrix.hasError('required')">
        {{champsObligatoire}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Montant Rabais</mat-label>
      <input matInput type="number" min="0" required
             [ngModel]="rabais" name="controleNomHotel" #controleRabais="ngModel"
      >
      <span matPrefix>%&nbsp;</span>
      <mat-error *ngIf="controleRabais.hasError('required')">
        {{champsObligatoire}}
      </mat-error>
    </mat-form-field>

    <div class="form-col-12 custom-radio-group">
      <label>Forfait vedette? </label>
      <mat-radio-group required>
        <mat-radio-button value="true" required>Oui</mat-radio-button>
        <mat-radio-button value="false" required>Non</mat-radio-button>
      </mat-radio-group>
    </div>

  </fieldset>

  <fieldset>

    <legend>Informations Hôtel</legend>

    <mat-form-field>
      <mat-label>Nom de l'Hôtel</mat-label>
      <input matInput type="text" required
             [ngModel]="nomHotel" name="controleNomHotel" #controleNomHotel="ngModel"
      >
      <mat-error *ngIf="controleNomHotel.hasError('required')">
        {{champsObligatoire}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Adresse de l'Hôtel</mat-label>
      <input type="text" matInput placeholder="Numéro, nom de rue, ville code postal, region, pays" required
             [ngModel]="adresseHotel" name="controleNomHotel" #controleAdresseHotel="ngModel"
      >
      <mat-error *ngIf="controleAdresseHotel.hasError('required')">
        {{champsObligatoire}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre de Chambres</mat-label>
      <input matInput type="number" required min="1"
             [ngModel]="nbChambre" name="controleNomHotel" #controleNbChambre="ngModel"
      >
      <mat-error *ngIf="controleNbChambre.hasError('required')">
        {{champsObligatoire}}
      </mat-error>
    </mat-form-field>

    <div class="form-col-6">
      <label>Nombre d'étoiles</label>
      <mat-slider
        thumbLabel
        tickInterval="1"
        min="0"
        max="5">
      </mat-slider>
    </div>

    <div class="form-col-12">
      <fieldset>
        <legend class="forfaits-title">
          Caractéristiques
        </legend>

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="custom-toggle-list" multiple>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="beach icon">beach_access</mat-icon>
            Accès Plage
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="pool icon">pool</mat-icon>
            Accès Piscine
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="waves icon">waves</mat-icon>
            Vue sur mer
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="garden icon">local_florist</mat-icon>
            Vue sur jardin
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="free_breakfast icon">free_breakfast</mat-icon>
            Petit-déjeuner inclus
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="all_inclusive icon">all_inclusive</mat-icon>
            Formule tout inclus
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="wifi icon">wifi</mat-icon>
            WiFi Gratuit
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="kitchen icon">kitchen</mat-icon>
            Mini-bar
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="emoji_food_beverage icon">emoji_food_beverage</mat-icon>
            Machine à thé/café
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="ac_unit icon">ac_unit</mat-icon>
            Air climatisé
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="accessible icon">accessible</mat-icon>
            Accessibilité
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="local_parking icon">local_parking</mat-icon>
            Stationnement
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="airport_shuttle icon">airport_shuttle</mat-icon>
            Navette aéroport
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="restaurant icon">restaurant</mat-icon>
            Restaurant
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="local_bar icon">local_bar</mat-icon>
            Bar
          </mat-button-toggle>

          <mat-button-toggle>
            <mat-icon aria-hidden="false" aria-label="spa icon">spa</mat-icon>
            Spa
          </mat-button-toggle>

        </mat-button-toggle-group>

      </fieldset>

    </div>


  </fieldset>
  <div class="button-container right">
    <button type="button" mat-button color="accent">
      Annuler
    </button>

    <button type="submit" mat-button color="primary">
      Ajouter
    </button>
  </div>
</form>
