<div class="forfaits-button-container">
  <button type="button" mat-raised-button color="accent" (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" aria-label="Example filter_list icon">filter_list</mat-icon>
    Affinez vos recherches
  </button>
</div>

<mat-drawer-container class="forfaits-container">

  <mat-drawer #drawer class="forfaits-sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'">

    <div class="forfaits-inner">
        <app-search-form></app-search-form>
    </div>

  </mat-drawer>

  <div class="forfaits-content">
    <app-liste-forfaits></app-liste-forfaits>
  </div>

</mat-drawer-container>
