.forfaits-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2em;
}

.forfaits-container {

  .forfaits-sidenav {
    border-right: none;
  }

  .forfaits-inner {
    height: 100%;
    padding: 0 15px;
  }

  .forfaits-title {
    font-weight: bold;
    font-size: 12px;
  }

  .forfaits-content {
    .button-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;

    }
  }
  @media (max-width: 991.98px) {
    position: relative;

    .forfaits-sidenav {
      position: absolute;
      z-index: 4;

      &.mat-drawer-opened ~ .mat-drawer-content  {
        margin-left: 0 !important;
      }
    }
  }
}
