<mat-drawer-container class="forfaits-container">

  <mat-drawer #drawer class="forfaits-sidenav" mode="side">
    <div class="forfaits-inner">
      <form action="">
        <h6>Affiner vos recherches</h6>

        <app-search-form></app-search-form>

        <fieldset>

          <legend class="forfaits-title">
            Critères de recherche
          </legend>

          <mat-checkbox>Formule tout inclus</mat-checkbox>
          <mat-checkbox>Vue sur plage</mat-checkbox>
          <mat-checkbox>Piscine</mat-checkbox>
          <mat-checkbox>Wifi Gratuit</mat-checkbox>
          <mat-checkbox>Animaux acceptés</mat-checkbox>
        </fieldset>

        <div class="button-container">
          <button type="reset" mat-button color="accent">
            Réinitialiser
          </button>
          <button type="submit" mat-button color="primary">
            Trier
          </button>
        </div>

      </form>
    </div>

  </mat-drawer>

  <div class="forfaits-content">

    <div class="button-container">
      <button type="button" mat-button color="accent" (click)="drawer.toggle()">
        <mat-icon aria-hidden="false" aria-label="Example filter_list icon">filter_list</mat-icon>
        Filtrer
      </button>
    </div>

    <app-liste-forfaits></app-liste-forfaits>

  </div>


</mat-drawer-container>
