.sidenav {
  width: 300px;
  background: #000000;
  color: #ffffff;
}

.sidenav .mat-toolbar {
  background: #000000;
  color: #ffffff;
}

.mat-toolbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  &:first-of-type {
    justify-content: flex-end;
    height: 30px;
    background: #000000;
    color: #fafafa;
    font-size: 12px;
    font-weight: 300;
  }
}

.mat-list-item {
  color: #ffffff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
