<mat-sidenav-container class="main-navigation sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport>
    <mat-toolbar>
      <div class="sidenav-toolbar-inner">
        <mat-nav-list>
          <mat-list-item role="listitem">
            <mat-icon aria-label="account_circle icon">account_circle</mat-icon>
            Bienvenue Username
          </mat-list-item>
          <div mat-subheader>Menu</div>
          <mat-list-item>
            <a href="">Accueil</a>
          </mat-list-item>
          <mat-list-item>
            <a href="">Forfaits</a>
          </mat-list-item>
          <mat-list-item>
            <a href="">Réservations</a>
          </mat-list-item>

          <div mat-subheader>Admin</div>
          <mat-list-item>
            <a href="">Gestion Administrative</a>
          </mat-list-item>

          <div mat-subheader>Compte</div>
          <mat-list-item>
            <a href="">Connexion</a>
          </mat-list-item>
          <mat-list-item>
            <a href="">Déconnexion</a>
          </mat-list-item>
          <mat-list-item>
            <a href="">Créer un compte</a>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        1234, rue Saint-Pierre, Montréal, Québec H2I2K3
      </mat-toolbar-row>
      <mat-toolbar-row>
        <h6>Horizons Voyages</h6>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-accueil></app-accueil>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
