<section class="home-header">
    <div class="home-header-carousel">
        <div class="home-header-carousel-img-wrapper aspect-ratio-rect">
            <div class="img-wrapper">
                <div class="home-header-carousel-overlay">
                    <div class="home-header-carousel-caption">
                        <h1>Un gros Titre</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sunt obcaecati impedit, hic
                            natus modi ipsum omnis est nam explicabo fugiat facere nemo voluptatibus id consequatur
                            assumenda error! Quo, soluta.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="home-header-toolbox">
        <div class=page-container>

            <ul>
                <li>
                    <mat-icon aria-hidden="false" aria-label="airplanemode_active icon">airplanemode_active</mat-icon>
                    <span>Voyages</span>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="beach_access icon">beach_access</mat-icon>
                    <span>Forfaits</span>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="event icon">event</mat-icon>
                    <span>Réservations</span>
                </li>
                <li>
                    <mat-icon aria-hidden="false" aria-label="credit_card icon">credit_card</mat-icon>
                    <span>Paiements</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="home-forfaits">
    <div class="page-container">
        <h2>Forfaits Vedette</h2>
        <app-liste-forfaits></app-liste-forfaits>
    </div>
</section>
<section class="home-services">
    <div class="page-container">
        <h2>Nos Services</h2>
    </div>
</section>