<footer>
  <section class="section-footer-primary">

    <div class="page-container">

      <div class="section-footer-inner">

        <div class="section-footer-infos">
          <h6 class="footer-logo">Horizon Voyages</h6>
        </div>

        <ul class="section-footer-list">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Forfaits</a></li>
          <li><a href="#">Réservations</a></li>
        </ul>

      </div>

    </div>

  </section>

  <div class="section-footer-secondary">
    <div class="page-container">
      <div class="section-footer-inner">
          App-Forfait-Voyages@ Francisca Vargas copyright.2020
      </div>
    </div>
  </div>
</footer>
