<div class="forfait-card">

  <div class="forfait-card-image-wrapper aspect-ratio-rect">
    <div class="img-wrapper"> <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></div>
  </div>

  <div class="forfait-card-content">
    <h3>{{forfait.hotel.nom}}</h3>
    <p>{{forfait.ville_destination}}, {{forfait.pays_destination}}</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur deleniti expedita maiores maxime nesciunt ullam voluptatibus! Animi architecto delectus distinctio dolorum ipsum iste minima quibusdam vero! Alias aliquid dolores quam.</p>
    <p>
      {{forfait.hotel.etoile}} {{forfait.prix}}
    </p>
    <div class="button-container">
      <button mat-button color="primary">Voir Plus</button>
    </div>
  </div>
</div>
