.forfait-card {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  overflow: hidden;

  .forfait-card-image-wrapper {
    flex: 0 0 20%;
    display: block;
    width: 20%;
  }

  .forfait-card-content {
    display: flex;
    width: 100%;
  }

  .forfait-card-body {
    flex-grow: 1;
    margin-bottom: auto;
    padding: 15px 15px;
  }

  .forfait-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;

    .forfait-card-title {
      flex: 0 1 75%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-right: 1em;

      h3 {
        margin-bottom: 0;
        margin-right: 0.5em;
      }

      .forfait-card-category-vedette {
        color: #FFD700;
      }
    }

    .star-ratings {
      flex: 0 0 25%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .mat-icon {
        font-size: 1.2em;
        width: 1.2em;
        height: 1.2em;
      }
    }
  }

  .forfait-card-date {
    font-size: 0.75em;
    font-weight: 500;
    text-transform: uppercase;
  }

  .forfait-card-category {
    display: none;
    span {
      margin-right: 0.5em;
      padding: 0.3em 0.5em;
      border: 1px solid transparent;
      border-radius: 0.25em;
      font-size: 0.625em;
      font-weight: 500;
      text-transform: uppercase;
    }

    .forfait-card-category-vedette {
      background: #FFD700;
      border-color: darken(#FFD700, 10%);
      color: darken(#FFD700, 30%);
    }

    .forfait-card-category-promotion {
      background: #1a1a1a;
      border-color: #000000;
      color: #ffffff;
    }
  }

  .forfait-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    background: #fafafa;
    padding: 1em 15px;

    .forfait-price {
      font-size: 1.2em;
      font-weight: 500;
    }

    .forfait-old-price {
      position: relative;
      margin-left: 0.5em;
      color: rgba(24,24,24,0.5);
      font-weight: 500;

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background: #1ED2AF;
      }
    }
  }

  @media (max-width: 767.98px) {
    .forfait-card-content {
      flex-direction: column;
    }

    .forfait-card-image-wrapper {
      flex: 0 0 100%;
      width: 100%;
    }

    .forfait-card-category {
      display: block;
    }
  }
}
