<section class="section-page section-page1">
    <mat-grid-list cols="4" rowHeight="100px" gutterSize= '15px'>
        <mat-grid-tile rowspan='2' colspan='1'>
            <app-recherche></app-recherche>
        </mat-grid-tile>
        <mat-grid-tile rowspan="1" colspan='3'>
            <app-carousel></app-carousel>
        </mat-grid-tile>
        <mat-grid-tile cols='1'>
            <app-hero [nom]="hero1"></app-hero>
        </mat-grid-tile>
        <mat-grid-tile cols='1'>
            <app-hero [nom]="hero2"></app-hero>
        </mat-grid-tile>
        <mat-grid-tile cols='1'>
            <app-hero [nom]="hero3"></app-hero>
        </mat-grid-tile>
    </mat-grid-list>
</section>
