<mat-sidenav-container class="main-navigation sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidenav-toolbar">
      <div class="sidenav-toolbar-inner">
        <mat-nav-list>
          <div mat-subheader>Folders</div>
          <a *ngFor="let item of menuItems" mat-list-item [routerLink]="'/'+item"> {{item | titlecase}} </a>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </div>
    </mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h6>Horizons Voyages</h6>
    </mat-toolbar>
    <app-accueil></app-accueil>
  </mat-sidenav-content>
</mat-sidenav-container>
