html,body {
    margin:0;
    height:100%;
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

.header-wrapper {
    padding: 30px 0;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
}

.form-content {
    margin-bottom: 50px;
}

.result-content {
    margin-bottom: 80px;
}

.result-wrapper {
    border: 1px solid #eeeeee;
    width: 100%;
    height: auto !important;
    min-height: 100px;
    border-radius: 10px;
    padding: 20px;
}
.result {
    padding: 20px;
    background-image: url("../images/background/rose.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.result-col {
    margin-left: -1px;
}

.result-link img {
    border: 2px solid #ffffff;
}

.error-text{
    color: red !important;
    font-size: 80%;
    font-weight: 400;
    margin-top: 0.25rem;
}



